<!DOCTYPE html>
<html>
<style type = "text/css">
    body{
        background: linear-gradient(to top right, #a24936 0%, #d36135 100%);
        height: 100%;
        font-family: 'Montserrat';
    }
    html{
        height: 100%;
        display: flex;
        justify-content: center;
    }
</style>
<head>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
</head>
    <body>
        <h1>MakersBnB</h1><br>
        <h2>Current Spaces:</h2>
    {% for space in spaces %}
        <div>
            Name: {{space.name}}
            Description: {{space.description}}
            Price per Night: {{space.price_per_night}}
        </div>
        <button><a href="/spaces/{{space.id}}">Click me to go to space page</a></button>
    {% endfor %}
    <button><a href="/users/1">Your Profile</a></button>
    </body>
</html>