<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Makers B'n'B
    </title>
    <style type = "text/css">
        body{
            background: linear-gradient(to top right, #a24936 0%, #d36135 100%);
            height: 100%;
            font-family: 'Montserrat';
        }
        html{
            height: 100%;
        }
    </style>
</head>
<body>
    <h1>
        Makers B'n'B
    </h1>
    <form action="/login" method="post">
        <p><label>Username: <input name="username" maxlength="100" style="width:120px;"></label></p>
        <p><label>Password: <input name="password" maxlength="100" style="width:120px;"></label></p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>