<!DOCTYPE html>
<html>
    <head>
        <style type = "text/css">
            body{
                background: linear-gradient(to top right, #a24936 0%, #d36135 100%);
                height: 100%;
                font-family: 'Montserrat';
            }
            html{
                height: 100%;
                display: flex;
                justify-content: center;
            }
        </style>
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    </head>
    <body>
        <h1>
            Name: {{space.name}}
        </h1>
        <p>
            Description: {{space.description}}<br>
            Price per Night: {{space.price_per_night}}
        </p>
        <div>Available dates:</div>
        {% for date in space.available_dates %}
            <ul>
                {{date}}
            </ul>
        {% endfor %}
        <form action="/spaces/{{space.id}}" method="POST">
            <label for="guest_id">Guest ID:</label><br>
            <input type="number" id="guest_id" name="guest_id"><br>
            <label for="date">Date:</label><br>
            <input type="date" min={{space.start_date}} max={{space.end_date}} id="date" name="date"><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>