<!DOCTYPE html>
<html lang="en">
<style type = "text/css">
    body{
        background: linear-gradient(to top right, #a24936 0%, #d36135 100%);
        height: 100%;
        font-family: 'Montserrat';
    }
    html{
        height: 100%;
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="stylesheet" href="/static/style.css" >

</head>
<body>
    <h1>Hi {{user.name}}!</h1>
    <h2>Current spaces</h2>
    <h2>Pending bookings</h2>
    <h2>Current requests</h2>
</body>
</html>